@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Roboto";
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

h2 {
    font-family: "Roboto";
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

h3 {   
    font-family: "Roboto";
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

h4 {   
    font-family: "Roboto";
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

a {
    font-family: 'Roboto Regular';
    font-weight: 400;
    line-height: 30px;
    color: rgb(107, 112, 141);
}

textarea {
    justify-content: center;
    height: 2.5em;
    background: rgba(107, 112, 141, 0.1);
    border: none;
}

input {
    justify-content: center;
    height: 2.5em;
    background: rgba(107, 112, 141, 0.1);
    color: rgb(107, 112, 141);
    border: none;
    padding-left: 20px;
    
}


/* Header */

#headerSection {
    display: grid;
    grid-template-columns: 10vw 20vw 40vw 20vw 10vw;
    grid-auto-rows: minmax(10vh, auto);
}

#logoHeaderDiv {
    grid-column: 2/3;
    grid-row: 1;

    display: grid;
    justify-content: start;
    align-content: end;

}

#navbarHeaderDiv {
    grid-column: 3/4;
    grid-row: 1;

    display: grid;
    grid-template-columns: 10vw 5vw 10vw 5vw 10vw; 
    grid-auto-rows: minmax(auto,auto);
    
    padding-bottom: 10px;
}


#homeHeaderDiv {
    grid-column: 1/2;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#projectsHeaderDiv {
    grid-column: 3/4;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#servicesHeaderDiv {
    grid-column: 5/6;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.headerLinks {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 17px;
    color: #6B708D;
}

#linkHeaderDiv {
    grid-column: 4/5;
    grid-row: 1;

    display: grid;
}

#contactUsHeaderDiv {
    grid-column: 4/5;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 17px;
    color: white;    
}

#contacUsHeaderArticle {
    background-color: #072AC8;
    border: #072AC8 10px solid;
    color: white;
}

#contacUsHeaderArticle a {
    color: white;
}

.actualPage a{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 17px;
    color: rgba(7, 42, 200, 1);
}


/* Contact Us */

#contactusSection  {
    margin: 10vh 10vw;
}

#contactusForm {
    display: grid;
    grid-template-columns: 48% 4% 48%; 
    grid-auto-rows: minmax(auto,auto);
}

#nameFormDiv {
    grid-column: 1/4;
    grid-row: 1;

    display: flex;
    flex-direction: column;
}

#nameFormDiv a {
    margin-bottom: 0.5em;
}

#emailFormDiv {
    grid-column: 1/2;
    grid-row: 2;

    display: flex;
    flex-direction: column;
}

#emailFormDiv a {
    margin-bottom: 0.5em;
    margin-top: 1em;
}

#phoneFormDiv {
    grid-column: 3/4;
    grid-row: 2;

    display: flex;
    flex-direction: column;
}

#phoneFormDiv a {
    margin-bottom: 0.5em;
    margin-top: 1em;
}

#messageFormDiv {
    grid-column: 1/4;
    grid-row: 3;

    display: flex;
    flex-direction: column;
}

#messageFormDiv a {
    margin-bottom: 0.5em;
    margin-top: 1em;
}

#buttonFormDiv {
    grid-column: 1/4;
    grid-row: 5;

    margin-top: 1.5em;
}

#buttonFormDiv button {
    width: 100%;
    height: 100%;
    background-color: #072AC8;
    border: none;

    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    padding: 20px;
}

