@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Roboto";
    font-size: 3.7vw;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

h2 {
    font-family: "Roboto";
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

h3 {   
    font-family: "Roboto";
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

h4 {   
    font-family: "Roboto";
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}


/* Header */

#headerSection {
    display: grid;
    grid-template-columns: 10vw 20vw 40vw 20vw 10vw;
    grid-auto-rows: minmax(10vh, auto);

    position: fixed;
    z-index: 1;
    background-color: white;
}

#logoHeaderDiv {
    grid-column: 2/3;
    grid-row: 1;

    display: grid;
    justify-content: start;
    align-content: end;

}

#navbarHeaderDiv {
    grid-column: 3/4;
    grid-row: 1;

    display: grid;
    grid-template-columns: 10vw 5vw 10vw 5vw 10vw; 
    grid-auto-rows: minmax(auto,auto);
    
    padding-bottom: 10px;
}

#navbarHeaderDiv div a {
    text-decoration: none;
}


#homeHeaderDiv {
    grid-column: 1/2;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#projectsHeaderDiv {
    grid-column: 3/4;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#servicesHeaderDiv {
    grid-column: 5/6;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.headerLinks {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 17px;
    color: #6B708D;
}

#linkHeaderDiv {
    grid-column: 4/5;
    grid-row: 1;

    display: grid;
}

#contactUsHeaderDiv {
    grid-column: 4/5;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 17px;
    color: white;    
}

#contacUsHeaderArticle {
    background-color: #072AC8;
    border: #072AC8 10px solid;
    color: white;
}

#contacUsHeaderArticle a {
    color: white;
    text-decoration: none;
}

.actualPage a{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 17px;
    color: rgba(7, 42, 200, 1);
}

/* Hero Section*/

#heroSection {
    display: grid;
    grid-template-columns: 10vw 40vw 40vw 10vw;
    grid-row: 1;

    padding-top: 20vh;
}


#contentHeroDiv {
    grid-column: 2/3;
    grid-row: 1;

    
    display: flex;
    flex-direction: column;
}

#descriptionContentDiv {
    font-family: "Roboto Regular";
    font-size: 1.5vw;
    font-weight: 400;
    text-align: left;
    color: rgba(107, 112, 141, 1);

}

#GetDesciptionLink {
    background-color: #072AC8;
    border: #072AC8 0.5vw solid;
    color: white;
    margin-right: 1.4vw;
    font-size: 0.9vw;
}

#WorkDescriptionLink {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 0.9vw;
    color: rgba(107, 112, 141, 1)
}

#imageHeroDiv {
    grid-column: 3/4;
    grid-row: 1;

    display: grid;

}

#card1Image {
    grid-column: 1/2;
    grid-row: 1;
    
    width: 15vw;
    z-index: 0;
}

#heroImage {
    grid-column: 1/4;
    grid-row: 1/4;

    width: 40vw;
    z-index: -2;
}

#card2Image {
    grid-column: 3/4;
    grid-row: 3;

    width: 15vw;
    z-index: 1;
}

/* Companies Section */

#CompaniesSection {
    display: grid;
    grid-row: 1;
    grid-template-columns: 10vw 80vw 10vw;
    margin-top: 20vh;
}

#CompaniesDiv {
    display: grid;
    grid-row: 1;
    grid-column: 2;
    grid-template-columns: repeat(20,1fr);
}

#airbnbLogo {
    grid-column: 1;
    filter: grayscale(100%);
}

#airbnbLogo:hover {
    filter: grayscale(0);
}

#googleLogo {
    grid-column: 6;
    filter: grayscale(100%);
}

#googleLogo:hover {
    filter: grayscale(0);
}

#microsoftLogo {
    grid-column: 10;
    filter: grayscale(100%);
}

#microsoftLogo:hover {
    filter: grayscale(0);
}

#fedexLogo {
    grid-column: 14;
    filter: grayscale(100%);
}

#fedexLogo:hover {
    filter: grayscale(0);
}

#amazonLogo {
    grid-column: 19;
    filter: grayscale(100%);
}

#amazonLogo:hover {
    filter: grayscale(0);
}