@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
    margin: 0;
    padding: 0;
    background: rgba(244, 246, 252, 1);
}

h1 {
    font-family: "Roboto";
    font-size: 3.7vw;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

h2 {
    font-family: "Roboto";
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

h3 {   
    font-family: "Roboto";
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

h4 {   
    font-family: "Roboto";
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}


/* Header */

#headerSection {
    display: grid;
    grid-template-columns: 10vw 20vw 40vw 20vw 10vw;
    grid-auto-rows: minmax(10vh, auto);

    position: fixed;
    z-index: 2;
    background: rgba(244, 246, 252, 1);

    padding-bottom: 5vh;
}

#logoHeaderDiv {
    grid-column: 2/3;
    grid-row: 1;

    display: grid;
    justify-content: start;
    align-content: end;

}

#navbarHeaderDiv {
    grid-column: 3/4;
    grid-row: 1;

    display: grid;
    grid-template-columns: 10vw 5vw 10vw 5vw 10vw; 
    grid-auto-rows: minmax(auto,auto);
    
    padding-bottom: 10px;
}

#navbarHeaderDiv div a {
    text-decoration: none;
}


#homeHeaderDiv {
    grid-column: 1/2;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#projectsHeaderDiv {
    grid-column: 3/4;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#servicesHeaderDiv {
    grid-column: 5/6;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.headerLinks {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 17px;
    color: #6B708D;
}

#linkHeaderDiv {
    grid-column: 4/5;
    grid-row: 1;

    display: grid;
}

#contactUsHeaderDiv {
    grid-column: 4/5;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 17px;
    color: white;    
}

#contacUsHeaderArticle {
    background-color: #072AC8;
    border: #072AC8 10px solid;
    color: white;
}

#contacUsHeaderArticle a {
    color: white;
    text-decoration: none;
}

.actualPage a{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 17px;
    color: rgba(7, 42, 200, 1);
}

/* Actual Project */

#actualProjectId {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    padding-top: 20vh;
}

#headerProject {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#completedon,#actualDescription{
    font-family: 'Roboto Regular';
    font-weight: 400;
    color: rgba(107, 112, 141, 1);
}

/* Recent Projects */

#RecentProjectsSection {
    display: grid;
    grid-row: 1;
    grid-template-columns: 10vw 24vw 4vw 24vw 4vw 24vw 10vw;
    margin-bottom: 10vh;
}

#RecentProjectsSection img {
    height: 350px;
}

#RecentProjectsSection h4 {
    margin-bottom: 10px;
}

#RecentProjectsTitle {
    grid-column: 2;
}

#project1div {
    display: flex;
    flex-direction: column;

    grid-row: 2;
    grid-column: 2;

    background-color: white;
}


#infoProject1div {
    display: flex;
    flex-direction: column;

    padding: 1vw;
}

#contentProject1 {
    margin-bottom: 50px;

    font-family: 'Roboto Regular';
    font-weight: 400;
    color: rgba(107, 112, 141, 1);
}

#project2div {
    display: flex;
    flex-direction: column;

    grid-row: 2;
    grid-column: 4;

    background-color: white;
}


#infoProject2div {
    display: flex;
    flex-direction: column;

    padding: 1vw;
}

#contentProject2 {
    margin-bottom: 50px;

    font-family: 'Roboto Regular';
    font-weight: 400;
    color: rgba(107, 112, 141, 1);
}
#project3div {
    display: flex;
    flex-direction: column;

    grid-row: 2;
    grid-column: 6;

    background-color: white;
}

#infoProject3div {
    display: flex;
    flex-direction: column;

    padding: 1vw;
}

#contentProject3 {
    margin-bottom: 50px;

    font-family: 'Roboto Regular';
    font-weight: 400;
    color: rgba(107, 112, 141, 1);
}



#ourServicesSection {
    display: grid;
    grid-template-columns: 10vw 24vw 4vw 24vw 4vw 24vw 10vw;
    grid-row: 1;

    padding-top: 15vh;
}

#ourProjectsTitle {
    grid-column: 2;
}

#interfaceServiceDiv {
    grid-row: 2;
    grid-column: 2/3;

    background: rgba(255, 255, 255, 1);

    display: flex;
    flex-direction: column;
    
    padding: 2em 3em;
    height: 40vh;
}

.serviceImageDiv {
    display: grid;
    align-items: center;
    justify-content: center;
    
    background: rgba(236, 247, 255, 1);

    border-radius: 50%;
    width: 5vw;
    height: 10vh;
}

#experienceServiceDiv {
    grid-row: 2;
    grid-column: 4/5;

    background: rgba(255, 255, 255, 1);

    display: flex;
    flex-direction: column;

    padding: 2em 3em;
    height: 40vh;
}

#developmentServiceDiv {
    grid-row: 2;
    grid-column: 6/7;

    background: rgba(255, 255, 255, 1);

    display: flex;
    flex-direction: column;

    padding: 2em 3em;
    height: 40vh;
}

.serviceTitle {
    font-family: 'Roboto Medium';
    font-size: 1.5vw;
    font-weight: bold;
    letter-spacing: 0em;
    color: rgba(41, 46, 71, 1);
}

.serviceText {
    font-family: 'Roboto Regular';
    font-size: 1vw;
    font-weight: 500;
    line-height: 2vh;
    letter-spacing: 0em;
    color: rgba(107, 112, 141, 1);
}

.serviceLearnMoreDiv {
    height: 10vh;
    display: flex; 
    align-items: end;
}

.serviceLearnMore {
    font-family: 'Roboto';
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(7, 42, 200, 1);
    cursor: pointer;
}

@media screen and (max-width: 750px) {

    #project1div {
        grid-row: 2;
        grid-column: 2/7;
    }

    #project2div, #project3div {
        display: none;
    }
}
/*Question */

#questionSection {
    display: grid;
    grid-row: 1;
    grid-template-columns: 5vw 90vw 5vw;

    margin: 5vh 0;
}

#contentQuestionDiv {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr;
    grid-column: 2;
    background: rgba(255, 198, 0, 1);

    padding: 2vw;
    row-gap: 1vw;
}

#questionTitleDiv {
    grid-column: 2;
    text-align: center;
}


#questionSubTitleDiv {
    grid-column: 2;
    text-align: center;
    margin-bottom: 2vh;
}

#questionMailDiv {
    grid-column: 2;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;

    height: 7vh;
}

#questionMailDiv > div{
    width: 70%;
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

#mailIcon{
    position: absolute;
    transform: scale(0.9) translateX(-18vw);
}

#subscribeQuestionInput {
    height: 100%;
    width: 100%;
    padding-left: 3vw;
    border: none;
}

#subscribeQuestionButton {
    background-color: #072AC8;
    color: white;
    border: #072AC8 0.5vw solid;
    height: 100%;
    width: 40%;
}

/* Footer */

#footerSection {
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-row: 1;
    padding: 15vh 0 4vh;
    row-gap: 1vh;
}

#logoFooterDiv {
    grid-row: 1;
    grid-column: 2;
}

#teamFooterDiv {
    grid-row: 1;
    grid-column: 7;

    font-family: 'Roboto Regular';
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 26px;

    color: rgba(107, 112, 141, 1);

}

#servicesFooterDiv {
    grid-row: 1;
    grid-column: 8;

    font-family: 'Roboto Regular';
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 26px;

    color: rgba(107, 112, 141, 1);
}

#aboutUsFooterDiv {
    grid-row: 1;
    grid-column: 9;

    font-family: 'Roboto Regular';
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 26px;

    color: rgba(107, 112, 141, 1);
}

#locationFooterDiv {
    grid-row: 2;
    grid-column: 2/4;

    font-family: 'Roboto Regular';
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 26px;

    color: rgba(107, 112, 141, 1);
}

#pressFooterDiv {
    grid-row: 2;
    grid-column: 7;

    display: flex;
    align-items: end;

    font-family: 'Roboto Regular';
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 26px;

    color: rgba(107, 112, 141, 1);
}

#projectsFooterDiv {
    grid-row: 2;
    grid-column: 8;

    display: flex;
    align-items: end;

    font-family: 'Roboto Regular';
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 26px;

    color: rgba(107, 112, 141, 1);

}

#policyFooterDiv {
    grid-row: 2;
    grid-column: 9;

    display: flex;
    align-items: end;

    font-family: 'Roboto Regular';
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 26px;

    color: rgba(107, 112, 141, 1);
}