<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Circle - Contact Us</title>
    <link rel="stylesheet" href="../styles/contactuspage.css">
  </head>
  <header>
    <section id="headerSection">
        <div id="logoHeaderDiv">
            <img src="../../assets/images/logos/circle.svg"/>
        </div>
        <div id="navbarHeaderDiv">
          <div id="homeHeaderDiv" class="headerLinks">
            <a href="./homepage.html">Home</a>
          </div>
          <div id="projectsHeaderDiv" class="headerLinks">
            <a href="./projectspage.html">Projects</a>
          </div>
          <div id="servicesHeaderDiv" class="headerLinks">
            <a href="./servicespage.html">Services</a>
          </div>
        </div>
        <div id="linkHeaderDiv">
          <div id="contactUsHeaderDiv">
            <div id="contacUsHeaderArticle">
                <a href="./contactuspage.html">Contact Us</a>
            </div>
          </div>
        </div>
    </div>
  </header>
  <body>
    <section id="contactusSection">
        <div>
            <h1>Contact Us</h1>
        </div>
        <form action="" id="contactusForm">
            <div id="nameFormDiv">
                <a>Full Name *</a>
                <input placeholder="Enter your full name"/>
            </div>
            <div id="emailFormDiv">
                <a>Email</a>
                <input placeholder="Enter your email address"/>
            </div>
            <div id="phoneFormDiv">
                <a>Phone</a>
                <input placeholder="Enter your phone number" />
            </div>
            <div id="messageFormDiv">
                <a>Message</a>
                <textarea placeholder="Write your message here...">

                </textarea>
            </div>
            <div id="buttonFormDiv">
                <button>Submit</button>
            </div>
        </form>
    </section>
    <footer>
      <section id="footerSection">
        <div id="logoFooterDiv">
          <img src="../../assets/images/logos/circle.svg">
        </div>
        <div id="teamFooterDiv">
          <a>Team</a>
        </div>
        <div id="servicesFooterDiv">
          <a>Services</a>
        </div>
        <div id="aboutUsFooterDiv">
          <a>About Us</a>
        </div>
        <div id="locationFooterDiv">
          <a>2972 Westheimer Rd. Santa Ana,<br>Illinois 85486</a>
        </div>
        <div id="pressFooterDiv">
          <a>Press</a>
        </div>
        <div id="projectsFooterDiv">
          <a>Projects</a>
        </div>
        <div id="policyFooterDiv">
          <a>Privacy Policy</a>
        </div>
      </section>
    </footer>
  </body>
</html>

<script src="../services/index.js"></script>

