<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Circle - Home</title>
    <link rel="stylesheet" href="../styles/homepage.css">
  </head>
  <header>
    <section id="headerSection">
        <div id="logoHeaderDiv">
            <img src="../../assets/images/logos/circle.svg"/>
        </div>
        <div id="navbarHeaderDiv">
          <div id="homeHeaderDiv" class="headerLinks actualPage">
            <a href="./homepage.html">Home</a>
          </div>
          <div id="projectsHeaderDiv" class="headerLinks">
            <a href="./projectspage.html">Projects</a>
          </div>
          <div id="servicesHeaderDiv" class="headerLinks">
            <a href="./servicespage.html">Services</a>
          </div>
        </div>
        <div id="linkHeaderDiv">
          <div id="contactUsHeaderDiv">
            <div id="contacUsHeaderArticle">
              <a href="./contactuspage.html">Contact Us</a>
            </div>
          </div>
        </div>
    </div>
  </header>
  <body onload="ChargeProjects()">
    <section id="heroSection">
      <div id="contentHeroDiv">
        <div>
          <h1>Empower Your<br/> Business With<br/> Stunning Design!</h1>
        </div>
        <div id="descriptionContentDiv">
          <p>Circle is a digital design and development studio.<br/> We design and develop astonishing websites<br/> and mobile apps.</p>
        </div>
        <div>
          <a id="GetDesciptionLink">Get in touch</a>
          <a id="WorkDescriptionLink">See our work</a>
        </div>
      </div>
      <div id="imageHeroDiv">
        <img id="card1Image" src="../../assets/images/hero-section/card-1.png" />
        <img id="heroImage" src="../../assets/images/hero-section/hero-image.png" />
        <img id="card2Image" src="../../assets/images/hero-section/card-2.png" />
      </div>
    </section>
    <section id="CompaniesSection">
      <div id="CompaniesDiv">
        <div id="airbnbLogo">
          <img src="../../assets/images/logos/airbnb-logo.svg">
        </div>
        <div id="googleLogo">
          <img src="../../assets/images/logos/google-logo.svg">
        </div>
        <div id="microsoftLogo">
          <img src="../../assets/images/logos/microsoft-logo.svg">
        </div>
        <div id="fedexLogo">
          <img src="../../assets/images/logos/fedex-logo.svg">
        </div>
        <div id="amazonLogo">
          <img src="../../assets/images/logos/amazon-logo.svg">
        </div>
      </div>
    </section>
    <section id="RecentProjectsSection">
      <div id="RecentProjectsTitle">
        <h2>Recent Projects</h2>
      </div>
      <div id="project1div">
        <img id="project1image">
        <div id="infoProject1div">
          <h4 id="titleProject1"></h4>
          <a id="contentProject1"></a>
          <a class="serviceLearnMore">Learn more</a>
        </div>
      </div>
      <div id="project2div">
        <img id="project2image">
        <div id="infoProject2div">
          <h4 id="titleProject2"></h4>
          <a id="contentProject2"></a>
          <a class="serviceLearnMore">Learn more</a>
        </div>
      </div>
      <div id="project3div">
        <img id="project3image">
        <div id="infoProject3div">
          <h4 id="titleProject3"></h4>
          <a id="contentProject3"></a>
          <a class="serviceLearnMore">Learn more</a>
        </div>
      </div>
    </section>
    <section id="TestimonialSection">
      <div id="TestimonialDiv">
        <div id="TestimonialTitleDiv">
          <div>
            <img src="../../assets/images/testimonial-section/memoji-1.png">
          </div>
          <div>
            <h3>Hear What Our Clients Have to Say</h3>
          </div>
          <div>
            <img src="../../assets/images/testimonial-section/memoji-2.png">
          </div>
        </div>
        <div id="TestimonialSubTitleDiv">
          <div>
            <a>"Circle helped us through every stage of our startup. <br>We really enjoyed working with you"</a>
          </div>
        </div>
        <div id="TestimonialUserDiv">
          <div>
            <img src="../../assets/images/testimonial-section/memoji-3.png">
          </div>
          <div id="userInfoDiv">
            <div>
              <div id="userInfoImageDiv">
                <img src="../../assets/images/testimonial-section/profile.png">
              </div>
              <div id="userInfoNameDiv">
                <a>Kristin Watson</a>
              </div>
              <div id="userInfoPageDiv">
                <a>Booking.com</a>
              </div>
            </div>
          </div>
          <div>
            <img src="../../assets/images/testimonial-section/memoji-4.png">
          </div>
        </div>
      </div>
    </section>
    <section id="ourServicesSection">
      <div id="ourProjectsTitle">
        <h2>Our Service</h2>
      </div>
      <div id="interfaceServiceDiv">
        <div class="serviceImageDiv">
            <img id="interfaceServiceImage" src="../../assets/images/services-section/icons/1.svg" />
        </div>
        <div>
          <p class="serviceTitle">User Interface Design</p>
        </div>
        <div>
          <a class="serviceText">Circle provides you with a stunning user interface design that is accessible to everyone.</a>
        </div>
        <div class="serviceLearnMoreDiv">
          <a class="serviceLearnMore">Learn more</a>
        </div>
      </div>
      <div id="experienceServiceDiv">
        <div class="serviceImageDiv">
          <img id="experienceServiceImage" src="../../assets/images/services-section/icons/2.svg" />
        </div>
        <div>
          <p class="serviceTitle">User Experience Design</p>
        </div>
        <div>
          <a class="serviceText">Circle always focuses on delivering the best user experience to your customers.</a>
        </div>
        <div class="serviceLearnMoreDiv">
          <a class="serviceLearnMore">Learn more</a>
        </div>
      </div>
      <div id="developmentServiceDiv">
        <div class="serviceImageDiv">
          <img id="developmentServiceImage" src="../../assets/images/services-section/icons/3.svg" />
        </div>
        <div>
          <p class="serviceTitle">Experience Design</p>
        </div>
        <div>
          <a class="serviceText">We develop high-quality mobile and web applications using the latest technology stack.</a>
        </div>
        <div class="serviceLearnMoreDiv">
          <a class="serviceLearnMore">Learn more</a>
        </div>
      </div>
      </div>
    </section>
    <section id="questionSection">
      <div id="contentQuestionDiv">
        <div id="questionTitleDiv">
          <h2>Do you have any questions?</h2>
        </div>
        <div id="questionSubTitleDiv">
          <a>Let us help you!</a>
        </div>
        <div id="questionMailDiv">
          <div>
            <img id="mailIcon" src="../../assets/images/newsletter/icon/mail.svg">
            <input id="subscribeQuestionInput" placeholder="Enter your email" type="text" >
            <button id="subscribeQuestionButton">Subscribe</button>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <section id="footerSection">
        <div id="logoFooterDiv">
          <img src="../../assets/images/logos/circle.svg">
        </div>
        <div id="teamFooterDiv">
          <a>Team</a>
        </div>
        <div id="servicesFooterDiv">
          <a>Services</a>
        </div>
        <div id="aboutUsFooterDiv">
          <a>About Us</a>
        </div>
        <div id="locationFooterDiv">
          <a>2972 Westheimer Rd. Santa Ana,<br>Illinois 85486</a>
        </div>
        <div id="pressFooterDiv">
          <a>Press</a>
        </div>
        <div id="projectsFooterDiv">
          <a>Projects</a>
        </div>
        <div id="policyFooterDiv">
          <a>Privacy Policy</a>
        </div>
      </section>
    </footer>
  </body>
</html>

<script src="../services/index.js"></script>