<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Circle - Home</title>
    <link rel="stylesheet" href="../styles/homepage.css">
  </head>
  <header>
    <section id="headerSection">
        <div id="logoHeaderDiv">
            <img src="../../assets/images/logos/circle.svg"/>
        </div>
        <div id="navbarHeaderDiv">
          <div id="homeHeaderDiv" class="headerLinks actualPage">
            <a href="./homepage.html">Home</a>
          </div>
          <div id="projectsHeaderDiv" class="headerLinks">
            <a href="./projectspage.html">Projects</a>
          </div>
          <div id="servicesHeaderDiv" class="headerLinks">
            <a href="./servicespage.html">Services</a>
          </div>
        </div>
        <div id="linkHeaderDiv">
          <div id="contactUsHeaderDiv">
            <div id="contacUsHeaderArticle">
              <a href="./contactuspage.html">Contact Us</a>
            </div>
          </div>
        </div>
    </div>
  </header>
  <body>
    <section id="heroSection">
      <div id="contentHeroDiv">
        <div>
          <h1>Empower Your<br/> Business With<br/> Stunning Design!</h1>
        </div>
        <div id="descriptionContentDiv">
          <p>Circle is a digital design and development studio.<br/> We design and develop astonishing websites<br/> and mobile apps.</p>
        </div>
        <div>
          <a id="GetDesciptionLink">Get in touch</a>
          <a id="WorkDescriptionLink">See our work</a>
        </div>
      </div>
      <div id="imageHeroDiv">
        <img id="card1Image" src="../../assets/images/hero-section/card-1.png" />
        <img id="heroImage" src="../../assets/images/hero-section/hero-image.png" />
        <img id="card2Image" src="../../assets/images/hero-section/card-2.png" />
      </div>
    </section>
    <section id="CompaniesSection">
      <div id="CompaniesDiv">
        <div id="airbnbLogo">
          <img src="../../assets/images/logos/airbnb-logo.svg">
        </div>
        <div id="googleLogo">
          <img src="../../assets/images/logos/google-logo.svg">
        </div>
        <div id="microsoftLogo">
          <img src="../../assets/images/logos/microsoft-logo.svg">
        </div>
        <div id="fedexLogo">
          <img src="../../assets/images/logos/fedex-logo.svg">
        </div>
        <div id="amazonLogo">
          <img src="../../assets/images/logos/amazon-logo.svg">
        </div>
      </div>
    </section>
  </body>
</html>
