<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Circle - Projects</title>
    <link rel="stylesheet" href="../styles/homepage.css">
  </head>
  <header>
    <section id="headerSection">
        <div id="logoHeaderDiv">
            <img src="../../assets/images/logos/circle.svg"/>
        </div>
        <div id="navbarHeaderDiv">
          <div id="homeHeaderDiv" class="headerLinks">
            <a href="./homepage.html">Home</a>
          </div>
          <div id="projectsHeaderDiv" class="headerLinks actualPage">
            <a href="./projectspage.html">Projects</a>
          </div>
          <div id="servicesHeaderDiv" class="headerLinks">
            <a href="./servicespage.html">Services</a>
          </div>
        </div>
        <div id="linkHeaderDiv">
          <div id="contactUsHeaderDiv">
            <div id="contacUsHeaderArticle">
                <a href="./contactuspage.html">Contact Us</a>
            </div>
          </div>
        </div>
    </div>
  </header>
  <body>

  </body>
</html>
