<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Circle - Service</title>
    <link rel="stylesheet" href="../styles/servicespage.css">
  </head>
  <header>
    <section id="headerSection">
        <div id="logoHeaderDiv">
            <img src="../../assets/images/logos/circle.svg"/>
        </div>
        <div id="navbarHeaderDiv">
          <div id="homeHeaderDiv" class="headerLinks">
            <a href="./homepage.html">Home</a>
          </div>
          <div id="projectsHeaderDiv" class="headerLinks">
            <a href="./projectspage.html">Projects</a>
          </div>
          <div id="servicesHeaderDiv" class="headerLinks actualPage">
            <a href="./servicespage.html">Services</a>
          </div>
        </div>
        <div id="linkHeaderDiv">
          <div id="contactUsHeaderDiv">
            <div id="contacUsHeaderArticle">
                <a href="./contactuspage.html">Contact Us</a>
            </div>
          </div>
        </div>
    </div>
  </header>
  <body>
    <section id="workingInSection">
      <div id="workingInDiv">
        <img id ="workingInImage" src="../../assets/images/services-section/icons/ajustes.gif">
        <h2 style="margin-bottom: 0;">Actualy our enginieers are working to build this page.</h2>

          <h2>Come later</h2>
      </div>
    </section>
    <footer>
      <section id="footerSection">
        <div id="logoFooterDiv">
          <img src="../../assets/images/logos/circle.svg">
        </div>
        <div id="teamFooterDiv">
          <a>Team</a>
        </div>
        <div id="servicesFooterDiv">
          <a>Services</a>
        </div>
        <div id="aboutUsFooterDiv">
          <a>About Us</a>
        </div>
        <div id="locationFooterDiv">
          <a>2972 Westheimer Rd. Santa Ana,<br>Illinois 85486</a>
        </div>
        <div id="pressFooterDiv">
          <a>Press</a>
        </div>
        <div id="projectsFooterDiv">
          <a>Projects</a>
        </div>
        <div id="policyFooterDiv">
          <a>Privacy Policy</a>
        </div>
      </section>
    </footer>
  </body>
</html>
